@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

/* Background CSS */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: .7;
  z-index: -2;
}

/* Button CSS */
.btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn.btn-box {
  background: #ff7720;
}

.btn.btn-box:hover {
  background: #333;
}

.btn.btn-border {
  border: 2px solid #ff7720;
  padding: 8px 40px;
}

.btn.btn-border:hover {
  border: 2px solid #333;
}

.fix:after,
.fix::before {
  content: "";
  clear: both;
  display: table;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.px-10 {
  padding: 0 10px;
}

.py-10 {
  padding: 10px 0;
}

.mx-10 {
  margin: 0 10px;
}

.my-10 {
  margin: 10px 0;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.px-20 {
  padding: 0 20px;
}

.py-20 {
  padding: 20px 0;
}

.mx-20 {
  margin: 0 20px;
}

.my-20 {
  margin: 20px 0;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.px-30 {
  padding: 0 30px;
}

.py-30 {
  padding: 30px 0;
}

.mx-30 {
  margin: 0 30px;
}

.my-30 {
  margin: 30px 0;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.px-40 {
  padding: 0 40px;
}

.py-40 {
  padding: 40px 0;
}

.mx-40 {
  margin: 0 40px;
}

.my-40 {
  margin: 40px 0;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.px-50 {
  padding: 0 50px;
}

.py-50 {
  padding: 50px 0;
}

.mx-50 {
  margin: 0 50px;
}

.my-50 {
  margin: 50px 0;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.px-60 {
  padding: 0 60px;
}

.py-60 {
  padding: 60px 0;
}

.mx-60 {
  margin: 0 60px;
}

.my-60 {
  margin: 60px 0;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.px-70 {
  padding: 0 70px;
}

.py-70 {
  padding: 70px 0;
}

.mx-70 {
  margin: 0 70px;
}

.my-70 {
  margin: 70px 0;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.px-80 {
  padding: 0 80px;
}

.py-80 {
  padding: 80px 0;
}

.mx-80 {
  margin: 0 80px;
}

.my-80 {
  margin: 80px 0;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.px-90 {
  padding: 0 90px;
}

.py-90 {
  padding: 90px 0;
}

.mx-90 {
  margin: 0 90px;
}

.my-90 {
  margin: 90px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.px-100 {
  padding: 0 100px;
}

.py-100 {
  padding: 100px 0;
}

.mx-100 {
  margin: 0 100px;
}

.my-100 {
  margin: 100px 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Section Title */
.section-title {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.section-title h4 {
  text-transform: capitalize;
  font-size: 30px;
  position: relative;
  padding-bottom: 15px;
}

.section-title h4:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background: tomato;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section-title p {
  padding: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header-area {
  padding: 20px 0;
}

.header-area .logo {
  float: left;
  width: 20%;
}

.header-area .logo img {
  width: 75px;
}

.header-area .menu {
  width: 80%;
  float: right;
  text-align: right;
}

.header-area .menu ul {
  padding-top: 15px;
}

.header-area .menu ul li {
  display: inline-block;
}

.header-area .menu ul li a {
  padding: 10px 20px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-area .menu ul li a:hover {
  color: #ff7720;
}

.banner-area .banner-content {
  color: #fff;
}

.banner-area .banner-content h2 {
  font-size: 45px;
  margin-bottom: 25px;
}

.banner-area .banner-content p {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.banner-area .banner-content a {
  margin: 0 10px;
}

.about-single {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 32%;
  float: left;
  margin-right: 20px;
  text-align: center;
  padding: 40px 20px;
}

.about-single:last-child {
  margin-right: 0px;
}

.about-single h4 {
  text-transform: capitalize;
  font-size: 24px;
}

.about-single p {
  padding: 20px 0;
}

.about-single a {
  color: #000;
}

.services-area {
  background: #f2f2f2;
}

.services-area .single-service {
  width: 32%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.services-area .single-service:last-child {
  margin-right: 0px;
}

.services-area .single-service:hover {
  border: 1px solid #ff7720;
}

.services-area .single-service:hover i {
  background: #ff7720;
  border: 1px solid #ff7720;
  color: #fff;
}

.services-area .single-service i {
  font-size: 24px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.services-area .single-service h4 {
  font-size: 24px;
  text-transform: capitalize;
  line-height: 50px;
}

.portfolio-area {
  background: #fff;
}

.portfolio-area .portfolio-single {
  height: 275px;
  width: 32%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.portfolio-area .portfolio-single:hover h4 {
  bottom: 0;
  display: block;
}

.portfolio-area .portfolio-single h4 {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 15px;
  text-transform: capitalize;
  bottom: -100px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  width: 100%;
}

.cta-area .cta-content {
  width: 80%;
  margin: 0 auto;
}

.cta-area .cta-content h4 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cta-area .cta-content p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */