.banner-area{
  .banner-content {
    color: #fff;

    h2 {
      font-size: 45px;
      margin-bottom: 25px;
    }

    p {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 35px;
    }

    a{
      margin: 0 10px;
    }
  }
}