.cta-area {
  .cta-content{
    width: 80%;
    margin: 0 auto;

    h4 {
      font-size: 50px;
      color: #fff;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    p {
      color: #fff;
    }
  }
}